@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  margin: 0px 20px;
  color: #000;
  font-family: "Poppins";
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.sect {
  margin: 20px 0;
  hr {
    display: none;
  }
  h2 {
    margin-bottom: 30px;
  }
}

section {
  display: inline-block;
  margin: 30px 0;
}

.hero {
  width: calc(100vw - 20px);
  overflow-x: hidden;
}

li {
  list-style-type: none;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
  font-weight: 700;
}

button {
  background-color: #000;
  border: none;
  color: #fff;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 700;
  padding: 5px 10px;
  cursor: pointer;
  img {
    margin-bottom: -2px;
    margin-left: 5px;
  }
}

h1 {
  font-weight: 700;
  font-size: 32px;
  margin-top: 50px;
  margin-bottom: 10px;
}

h2 {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: -50px;
}

h3 {
  font-weight: 500;
  font-size: 16px;
  width: 200px;
}

h4 {
  font-weight: 500;
  margin: -2px 0;
}

h5 {
  font-weight: 300;
  margin: -2px 0;
}

h6 {
  font-size: 16px;
  margin-bottom: -5px;
}

p {
  font-size: 16px;
  font-weight: 300;
}

header {
  background-color: #fff;
  display: flex;
  place-content: space-between;
  padding: 5px 0;

  .logo {
    width: 70px;
    height: 15px;
    margin-top: 20px;
  }

  .open-menu {
    display: block;
    margin: 15px 0;
    float: right;
    cursor: pointer;
  }
}

nav.menu-btn {
  display: block;
}

.see-my-work {
  margin-top: 20px;
}

.logo-overlay {
  position: absolute;
  margin-left: -300px;
  margin-top: 200px;

  width: 443px;
  height: 95px;
  opacity: 10%;
  display: inline-block;
}

.rachel {
  width: 222px;
  height: 347px;
  float: right;
  margin-top: -100px;
  margin-right: -60px;
  position: relative;
}

.container {
  display: flex;
  align-items: flex-end;
  margin: 10px 0;
  svg {
    width: 255px;
    height: 180px;
    opacity: 25%;
    float: right;
  }
}

#right {
  float: right;
}

#left {
  float: left;
}

.cta-1 {
  display: inline-block;
  width: 300px;
  p {
    margin: 5px 0;
  }
}

.text {
  transform: rotate(-90deg);
  margin: 0 -30px 35px -30px;
  h4 {
    width: max-content;
  }
}

.about {
  display: inline;
  li {
    font-weight: 300;
  }
  .intro {
    margin-left: 40px;
  }
  hr {
    height: 1.75px;
    background-color: #000;
    margin-top: -12.5px;
    margin-left: 100px;
    border: none;
  }
  .english {
    width: 80px;
  }
  .french {
    width: 60px;
  }
  .mandarin {
    width: 40px;
  }
  // .skills,
  // .languages,
  // .services {
  //   display: flex;

  //   h6 {
  //     margin-top: 16px;
  //   }
  // }
}
#contact {
  padding-top: 60px;
  margin-top: -20px;
}
.get-in-touch {
  margin-left: 40px;
  margin-bottom: 20px;
  display: none;
}

form {
  label {
    margin-bottom: -10px;
    margin-top: 40px;
  }
  input,
  textarea {
    border: none;
    width: 100%;
    background-color: #e4e7f7;
    font-family: "Poppins";
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 0px;
    padding-left: 10px;
    box-sizing: border-box;
  }
  .send-message {
    background-color: #000;
    border: none;
    color: #fff;
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 700;
    padding: 5px 10px;
    cursor: pointer;
    text-align: left;
    width: fit-content;
  }
  textarea {
    padding-top: 7px;
  }
  #name,
  #email {
    height: 33.3px;
  }
  #message {
    height: 120px;
    vertical-align: text-top;
    margin-bottom: 30px;
  }
}

footer {
  background-color: #000;
  margin: 60px -20px 0px;
  padding: 20px 20px;
  p {
    color: #fff;
  }
  div {
    margin-top: 20px;
    img {
      color: #fff;
      margin-right: 20px;
      margin-top: 10px;
    }

    .behance-icon {
      margin-left: 5px;
    }
  }
}

iframe {
  width: 100%;
  height: 300px;
}

nav {
  display: none;
  right: 0%;
  left: 0%;
  padding: 0;
  position: fixed;
  z-index: 999;
  left: 0px;
  background-color: #fff;
  width: 100vw;
  padding: 0 20px;
  filter: drop-shadow(0px 12px 10px rgba(0, 0, 0, 0.1));
}
.exit-menu {
  position: fixed;
  right: 60px;
  margin-top: 20px;
  cursor: pointer;
}
nav {
  ul {
    padding: 20px 0 0;
    li {
      font-size: 20px;
      margin: 20px -5px;
      width: fit-content;
      padding: 5px 10px;
      &:hover {
        background-color: #e4e7f7;
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  h1 {
    max-width: 360px;
  }
}

@media only screen and (min-width: 450px) {
  .rachel {
    width: 250px;
    height: 390px;
    margin-top: -100px;
  }
  .hero {
    h3 {
      width: 300px;
    }
  }
  .logo-overlay {
    margin-top: 180px;
  }
}

@media only screen and (min-width: 500px) {
  h1 {
    width: 360px;
  }
  .rachel {
    width: 266px;
    height: 416px;
    margin-top: -240px;
  }
  .logo-overlay {
    margin-top: 120px;
  }
}

@media only screen and (min-width: 560px) {
  .rachel {
    margin-right: -20px;
  }
}

@media only screen and (min-width: 640px) {
  .open-menu,
  .exit-menu {
    visibility: hidden;
  }

  h1 {
    font-size: 36px;
  }

  nav {
    background: none;
    filter: none;
    display: block;
    position: absolute;
    width: inherit;
    ul {
      visibility: visible;
      display: flex;
      float: right;
      margin: 0;
      padding: 0;
      li {
        justify-content: space-between;
        margin: 10px 0 0 20px;
        font-size: 18px;
      }
    }
  }

  .rachel {
    width: 333px;
    height: 520px;
  }

  .logo-overlay {
    width: 665px;
    height: 143px;
    margin-top: 180px;
  }
}

@media only screen and (min-width: 720px) {
  html {
    margin: 0px 40px;
  }

  h1 {
    width: 360px;
  }

  .rachel {
    margin-right: 50px;
  }

  nav {
    width: calc(100vw - 80px);
  }
}

@media only screen and (min-width: 900px) {
  html {
    margin: 0px 60px;
  }

  nav {
    width: calc(100vw - 120px);
  }

  h1 {
    width: 500px;
  }

  .rachel {
    margin-right: 100px;
  }
}

@media only screen and (min-width: 1080px) {
  html {
    margin: 0px 100px;
  }

  nav {
    width: calc(100vw - 200px);
  }

  h1 {
    width: 700px;
    font-size: 48px;
  }

  h3 {
    font-size: 18px;
  }
  .rachel {
    margin-right: 150px;
  }
}
